@import "resets.css";

:root {
    /* Fonts */
    --headings: "Afacad Flux", serif;
    --paragraphs: "Afacad Flux", serif;


    /* Colors */
    --bg-light: #dcdcdc;
    --bg-dark: #272727;
    --bg-light-opacity: #dcdcdc3c;
    --bg-dark-opacity: #2727273c;

    --text-gentleGray: #f3f3f3;
    --text-darkGray: #3f3f3f;
    
    --accent-blue: #8ae7f3;
    --accent-green: #8af3bc;
    --accent-sunYellow: #f5e16e;
    --accent-darkOrange: #dc4250;
}

/* Global Styles */

body {
    background-image: url("../assets/daniel-sessler-g3O3xWspoN4-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--bg-dark);
    font-family: var(--paragraphs);

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}



h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--bg-dark-opacity);
    border-radius: 0.5rem;
    color: var(--text-gentleGray);
    font-family: var(--paragraphs);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Header Styles */

.header {
    position: relative;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__nav-mobile {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Hamburger */

.line {
    width: 100%;
    height: 0.25rem;
    background-color: var(--bg-light);
    border-radius: 1.25rem;
    
    transition: transform 500ms, opacity 500ms;
}

.toggle .line.top {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line.mid {
    opacity: 0;
}

.toggle .line.bot{
    transform: rotate(45deg) translate(-5px, -6px);
}

.header__nav-access {
    position: absolute;
    z-index: 100;
    opacity: 0;
    top: -51px;
    margin: 1rem 0.75rem 0 0; 
    background-color: var(--bg-light);
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    transform: translateY(-20px);
    transition: opacity 400ms ease-in-out, transform 500ms ease-in-out, top 1000ms ease-in-out;
    pointer-events: none;
}

.header__nav-access--login {
    background-color: transparent;
    color: var(--text-darkGray);
}

.header__nav-access--login:hover {
    font-weight: 700;
}

.header__nav-access--register:hover {
    background-color: var(--bg-dark);
    color: var(--text-gentleGray);
}

.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .header__nav-mobile {
        display: none;
    }

    .header__nav-access {
        position: static;
        opacity: 1;
        margin: 0;
        padding: 0;
        background-color: transparent;
        transform: translateY(0);
        pointer-events: auto;
    }

    .header__nav-access--login {
        color: var(--text-gentleGray);  
    }

    .header__nav-access--login:hover {
        font-weight: 700;
    }

    .header__nav-access--register:hover {
        background-color: var(--bg-dark);
        color: var(--text-gentleGray);
    }
}

.blur {
    filter: blur(0.25rem);
}

/* Main styles */

main {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
    padding-inline: 2rem;
}

.search__recent,
.weather__details,
.music__suggestion {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    color: var(--text-gentleGray);
    background-color: var(--bg-dark-opacity);
    border-radius: 0.5rem;
}

.search__recent-title,
.weather__details-title, 
.music__suggestion-title {
    font-size: 1.5rem;
}

/* Search Section */

.search__current {
    width: 100%;
    /* padding: 1rem 2rem; */
}

.search__current-form {
    position: relative;
}

.search__current-form input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;  
}

.search__current-form--btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0.5rem 0.5rem  0;
    background-color: var(--accent-darkOrange);    
}

/* Recent Searches */

.search__recent-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search__recent-list--item {
    color: var(--text-darkGray);
}

/* Weather Details */

.weather__details-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.weather__details-title #cityName {
    color: var(--accent-darkOrange);
}

/* Music Suggestion */

.music__suggestion-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-block: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-light-opacity);
}

.music__suggestion-card--songInfo {
    align-self: flex-start;
    justify-self: flex-start;
    text-align: left;
}

.music__suggestion-card--title {
    font-size: 1.3rem;
}

.music__suggestion-card--artist {
    font-size: 1rem;
    font-weight: 300;
}

.music__suggestion-card--play {
    background-color: var(--accent-green);
    padding: 0.5rem 1rem;
    color: var(--text-darkGray);
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.music__suggestion-card--play:hover {
    background-color: var(--accent-green);
    filter:saturate(300%);
}

.image__background-details {
    width: 100%;
    color: var(--text-gentleGray);
    font-size: 0.75rem;
    padding: 1rem 2rem;
}

/* Footer Styles */
footer {    
   
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-dark-opacity);
    color: var(--text-gentleGray);
}

.footer__details {
    font-size: 0.85rem;
}


@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
        padding-inline: 2rem;
        transition: filter 500ms ease-in-out; /* For the blur effect */
        color: white;

        /* margin-top: 0; */
    }
    
    /* Search Section */

    .search__current {
        grid-row: 1;
        grid-column: 2 / 4;
        align-self: center;
    }
    
    .search__recent {
        grid-row: 2 / 5;
        grid-column: 1;
    }

    /* Recent Searches */

    .search__recent-heading {
        margin-bottom: 1rem;
    }

    .search__recent-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search__recent-list--item {
        color: var(--text-gentleGray);
    }
    
    .weather__details {
        grid-row: 2 / 5;
        grid-column: 2 / 4;
    }
    
    .music__suggestion {
        grid-row: 2 / 5;
        grid-column: 4;
    }
    
    .image__background-details {
        grid-row: 5;
        grid-column: 1;
    }
}
